@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

*:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*::selection {
  @apply bg-red-700 text-black;
}

@font-face {
  font-family: "nunito";
  src: url("/nunito.ttf") format("truetype");
}

@font-face {
  font-family: "terror";
  src: url("/terror.ttf") format("truetype");
}

body {
  @apply w-screen box-border font-['nunito'] bg-[#181818];
  font-weight: 600;
}
